.nextflow/
work/
.nova/
data/
deprecated/
results/

.nextflow.log*
.DS_Store
trace.txt*
report.html.*
timeline.html*
report.html*
*.dot
*.png.*

.Rhistory
._*
.nextflow.pid*
submit_workflow.sh
poetry.lock
Manifest.toml

*input*/
scratch/
sandbox/
data/
genbank/
genbanks/
*ipynb*
*.mo*
