params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	
	// Folder where .fasta and .gb files are stored
	input_data = ""
	
	// Where to place results
	results = "$launchDir/results"
	
	// experiment number (what to name the final folder of files)
	experiment_number = "27909-ipd/"
	
	// scientific name for which species is being submitted
	// ("Macaca mulatta" or "Macaca fascicularis")
	species = ""
	
	// final curated embl, if available. This allows you to bring in a 
	// previously processed embl file with added annotations, corrected animal 
	// or isolate names, etc. This can be an absolute path.
	curated_embl = "$launchDir/curated.embl"
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	
	
}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
  enabled = false
  file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = false
	overwrite = true
	file = 'workflow-visualization.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = true


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process {
			
			withName:FIX_GENBANK_DEFLINES {
				container = "rocker/tidyverse:4.2.2"
			}
			
			withName:FIX_FASTA_DEFLINES {
				container = "rocker/tidyverse:4.2.2"
			}
			
			withName:CONVERT_GENBANK_TO_EMBL {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:ADJUST_TEXT {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:REMOVE_OC_FEATURES {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:OBSCURE_ID {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:SPLIT_EMBL_FILE {
				container = "rocker/tidyverse:4.2.2"
			}
			
		}
		
	}
	
	docker {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process {
			
			withName:FIX_GENBANK_DEFLINES {
				container = "rocker/tidyverse:4.2.2"
			}
			
			withName:FIX_FASTA_DEFLINES {
				container = "rocker/tidyverse:4.2.2"
			}
			
			withName:CONVERT_GENBANK_TO_EMBL {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:ADJUST_TEXT {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:REMOVE_OC_FEATURES {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:OBSCURE_ID {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:SPLIT_EMBL_FILE {
				container = "rocker/tidyverse:4.2.2"
			}
			
		}
		
	}
	
	singularity {
		
		singularity.enabled = true
		docker.enabled = false
		conda.enabled = false
		
		process {
			
			withName:FIX_GENBANK_DEFLINES {
				container = "rocker/tidyverse:4.2.2"
			}
			
			withName:FIX_FASTA_DEFLINES {
				container = "rocker/tidyverse:4.2.2"
			}
			
			withName:CONVERT_GENBANK_TO_EMBL {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:ADJUST_TEXT {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:REMOVE_OC_FEATURES {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:OBSCURE_ID {
				container = "dockerreg.chtc.wisc.edu/dhoconno/mesmerizer:27928"
			}
			
			withName:SPLIT_EMBL_FILE {
				container = "rocker/tidyverse:4.2.2"
			}
			
		}
		
	}
	
	conda {
		
		conda {
			enabled = true
			// cacheDir = "$baseDir/config/envs"
			// createOptions = "-y -c conda-forge -c bioconda -c r"
			useMamba = true
		}
		
		singularity.enabled = false
		docker.enabled = false
		
		process {
			
			withName:PROCESS_NAME {
				conda = ""
			}
		}
		
	}
}


// MANIFEST
manifest {
	homePage = 'https://github.com/dholab/IPD-converter'
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = 'Nextflow pipeline for converting novel allele sequences to Immuno Polymorphism Database format'
	author = "Nicholas R. Minor, David H. O'Connor"
}
